---
import Faq from '../components/IndexPage/FAQ.mdx';
import OrganismCard from '../components/IndexPage/OrganismCard.astro';
import WelcomeMessage from '../components/IndexPage/WelcomeMessage.astro';
import { getOrganismStatisticsMap } from '../components/IndexPage/getOrganismStatistics';
import NeedToLogin from '../components/common/NeedToLogin.astro';
import { getConfiguredOrganisms, getWebsiteConfig } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getAccessToken } from '../utils/getAccessToken';
const websiteConfig = getWebsiteConfig();
const { name: websiteName, welcomeMessageHTML } = websiteConfig;
import '../styles/mdcontainer.css';

const numberDaysAgoStatistics = 30;
const accessToken = getAccessToken(Astro.locals.session);
const configuredOrganisms = getConfiguredOrganisms();
const organismStatisticsMap =
    accessToken === undefined
        ? new Map()
        : await getOrganismStatisticsMap(
              configuredOrganisms.map((organism) => organism.key),
              numberDaysAgoStatistics,
              accessToken,
          );
---

<BaseLayout title='Home'>
    <div class='max-w-6xl mx-auto'>
        <WelcomeMessage websiteName={websiteName} welcomeMessageHTML={welcomeMessageHTML} />

        {
            accessToken === undefined && (
                <NeedToLogin message='This instance is private. Sequences are only available after authentication and only to members of the submitting groups. For testing, log in as testuser, insdc_ingest_user, or superuser; superusers see all sequences.' />
            )
        }

        {
            accessToken !== undefined && (
                <div class='flex justify-center'>
                    <div
                        class={`flex flex-wrap justify-center gap-x-5  gap-y-4 ${
                            configuredOrganisms.length === 5 ? 'max-w-4xl' : ''
                        }`}
                    >
                        {configuredOrganisms.map(({ key, displayName, image }) => (
                            <OrganismCard
                                key={key}
                                image={image}
                                displayName={displayName}
                                organismStatistics={organismStatisticsMap.get(key)!}
                                numberDaysAgoStatistics={numberDaysAgoStatistics}
                            />
                        ))}
                    </div>
                </div>
            )
        }
        <div class='mdContainer'>
            <Faq />
        </div>
    </div>
</BaseLayout>
