---
import Faq from '../components/IndexPage/FAQ.mdx';
import OrganismCard from '../components/IndexPage/OrganismCard.astro';
import WelcomeMessage from '../components/IndexPage/WelcomeMessage.astro';
import { getOrganismStatisticsMap } from '../components/IndexPage/getOrganismStatistics';
import { getConfiguredOrganisms, getWebsiteConfig } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro';
const websiteConfig = getWebsiteConfig();
const { name: websiteName, welcomeMessageHTML } = websiteConfig;
import '../styles/mdcontainer.scss';

const numberDaysAgoStatistics = 30;
const organismStatisticsMap = await getOrganismStatisticsMap(
    getConfiguredOrganisms().map((organism) => organism.key),
    numberDaysAgoStatistics,
);
---

<BaseLayout title='Home'>
    <div class='max-w-6xl mx-auto'>
        <WelcomeMessage websiteName={websiteName} welcomeMessageHTML={welcomeMessageHTML} />

        <div class='flex flex-wrap'>
            {
                getConfiguredOrganisms().map(({ key, displayName, image }) => (
                    <OrganismCard
                        key={key}
                        image={image}
                        displayName={displayName}
                        organismStatistics={organismStatisticsMap.get(key)!}
                        numberDaysAgoStatistics={numberDaysAgoStatistics}
                    />
                ))
            }
        </div>
        <div class='mdContainer'>
            <Faq />
        </div>
    </div>
</BaseLayout>
