---
import '../styles/mdcontainer.scss';
import BaseLayout from './BaseLayout.astro';
import DocsMenu from '../components/Navigation/DocsMenu';

const { frontmatter } = Astro.props;
const docsPages = await Astro.glob('../pages/about/**/*.mdx');
const activeTopNavigationItem = frontmatter?.activeTopNavigationItem ?? '/about';
const currentPageUrl = Astro.url.pathname;
---

<BaseLayout title={frontmatter.title} activeTopNavigationItem={activeTopNavigationItem}>
    <div class='md:flex md:justify-between max-w-5xl mx-auto items-start gap-10'>
        <DocsMenu docsPages={docsPages} currentPageUrl={currentPageUrl} title='About' client:load />
        <div class='mdContainer mdContainerItself text-gray-700 leading-relaxed'>
            <h1>{frontmatter.title}</h1>

            <slot />
        </div>
    </div></BaseLayout
>
