---
import '../styles/mdcontainer.scss';
import BaseLayout from './BaseLayout.astro';
import DocsMenu from '../components/Navigation/DocsMenu';
import { getWebsiteConfig } from '../config';
import MdiGithub from '~icons/mdi/github';

const { frontmatter } = Astro.props;
const activeTopNavigationItem = frontmatter?.activeTopNavigationItem ?? '/docs/';
const file = Astro.props.file;
const FILE_BEGINNING = 'src/pages/';
const fileLocation = file.slice(file.indexOf(FILE_BEGINNING), file.length);
const docsPages = await Astro.glob('../pages/docs/**/*.mdx');
const currentPageUrl = Astro.url.pathname;
const { gitHubEditLink } = getWebsiteConfig();
const editUrl = `${gitHubEditLink}${fileLocation}`;
---

<BaseLayout title={frontmatter.title} activeTopNavigationItem={activeTopNavigationItem}>
    <div class='md:flex md:justify-between max-w-5xl mx-auto items-start gap-10'>
        <DocsMenu docsPages={docsPages} currentPageUrl={currentPageUrl} title='Documentation' client:load />
        <div class='mdContainer mdContainerItself text-gray-700 leading-relaxed'>
            <h1>{frontmatter.title}</h1>
            <slot />
            {
                gitHubEditLink !== undefined && (
                    <div class='text-right text-sm text-gray-500'>
                        <a
                            href={editUrl}
                            target='_blank'
                            rel='noopener noreferrer'
                            class='!text-gray-500 hover:!text-gray-800 !no-underline'
                        >
                            <MdiGithub className='inline-block w-4 h-4 mr-1' />
                            Edit this page
                        </a>
                    </div>
                )
            }
        </div>
    </div>
</BaseLayout>
