---
import { getTableData } from './getTableData';
import { BackButton } from '../../../components/Navigation/BackButton';
import SequencesBanner from '../../../components/SequenceDetailsPage/SequencesBanner.astro';
import SequencesDataTable from '../../../components/SequenceDetailsPage/SequencesDataTable.astro';
import ErrorBox from '../../../components/common/ErrorBox.astro';
import { getSchema } from '../../../config';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { routes } from '../../../routes';
import { LapisClient } from '../../../services/lapisClient';

const accessionVersion = Astro.params.accession!;
const organism = Astro.params.organism!;

const schema = getSchema(organism);
const lapisClient = LapisClient.createForOrganism(organism);

const tableDataResult = await getTableData(accessionVersion, schema, lapisClient);
---

<BaseLayout title={accessionVersion}>
    {
        tableDataResult.isOk() && (
            <div slot='banner'>
                <SequencesBanner
                    tableData={tableDataResult.value}
                    organism={organism}
                    accessionVersion={accessionVersion}
                />
            </div>
        )
    }
    <div class='flex items-center'>
        <BackButton marginRight={2} client:load />
        <h1 class='title'>Sequence Entry Version {accessionVersion}</h1>
        {
            tableDataResult.isOk() && (
                <a href={routes.versionPage(organism, accessionVersion)} class='text-xs ml-10'>
                    (See previous versions)
                </a>
            )
        }
    </div>
    {
        tableDataResult.match(
            (tableData) => (
                <SequencesDataTable tableData={tableData} organism={organism} accessionVersion={accessionVersion} />
            ),
            (error) => <ErrorBox title='Sequence entry not found' message={error.detail} />,
        )
    }
</BaseLayout>
