---
import { SearchFullUI } from '../../../components/SearchPage/SearchFullUI';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { processParametersAndFetchSearch } from '../../../utils/processParametersAndFetchSearch';
const props = await processParametersAndFetchSearch(Astro);
let theData = null;
let theError = null;
props.data.match(
    (data) => {
        theData = data;
        theError = null;
    },
    (err) => {
        theData = null;
        theError = err;
    },
);
---

<BaseLayout title={`${props.cleanedOrganism.displayName} - Browse`}>
    <h1 class='title'>Search</h1>
    <SearchFullUI
        client:load
        data={theData}
        error={theError}
        classOfSearchPage='SEARCH'
        hiddenSearchFeatures={props.hiddenSearchFeatures}
        initialMetadataFilterWithoutHiddenFilters={props.metadataFilterWithoutHiddenFilters}
        initialAccessionFilter={props.accessionFilter}
        initialMutationFilter={props.mutationFilter}
        organism={props.organism}
        referenceGenomesSequenceNames={props.referenceGenomesSequenceNames}
        clientConfig={props.clientConfig}
        orderBy={props.orderBy}
        lapisUrl={props.lapisUrl}
        schema={props.schema}
        page={props.page}
        accessionFilter={props.accessionFilter}
        mutationFilter={props.mutationFilter}
        metadataFilterWithoutHiddenFilters={props.metadataFilterWithoutHiddenFilters}
        myGroups={props.myGroups}
        accessToken={props.accessToken}
    />
</BaseLayout>
