---
import {
    getData,
    getreferenceGenomeSequenceNames,
    getMetadataFilters,
    getMutationFilter,
    getOrderBy,
    addHiddenFilters,
} from './search';
import { cleanOrganism } from '../../../components/Navigation/cleanOrganism';
import { DownloadDialog } from '../../../components/SearchPage/DownloadDialog/DownloadDialog';
import { Pagination } from '../../../components/SearchPage/Pagination';
import { SearchForm } from '../../../components/SearchPage/SearchForm';
import { Table } from '../../../components/SearchPage/Table';
import ErrorBox from '../../../components/common/ErrorBox.astro';
import { getLapisUrl, getRuntimeConfig, getSchema } from '../../../config';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { hiddenDefaultSearchFilters, pageSize } from '../../../settings';

const organism = Astro.params.organism!;
const { organism: cleanedOrganism } = cleanOrganism(organism);
const schema = getSchema(organism);
const clientConfig = getRuntimeConfig().public;
const lapisUrl = getLapisUrl(clientConfig, organism);
const getSearchParams = (field: string): string => {
    return Astro.url.searchParams.get(field) ?? '';
};

const metadataFilter = addHiddenFilters(getMetadataFilters(getSearchParams, organism), hiddenDefaultSearchFilters);
const mutationFilter = getMutationFilter(Astro.url.searchParams);

const pageParam = Astro.url.searchParams.get('page');
const page = pageParam !== null ? Number.parseInt(pageParam, 10) : 1;
const offset = (page - 1) * pageSize;
const orderBy = getOrderBy(Astro.url.searchParams, schema.defaultOrderBy, schema.defaultOrder);

const referenceGenomeSequenceNames = getreferenceGenomeSequenceNames(organism);

const data = await getData(organism, metadataFilter, mutationFilter, offset, pageSize, orderBy);
---

<BaseLayout title={`${cleanedOrganism!.displayName} - Browse`}>
    <h1 class='title'>Search</h1>
    <div class='flex flex-col md:flex-row gap-8 md:gap-4'>
        <div class='md:w-72'>
            <SearchForm
                organism={organism}
                filters={metadataFilter}
                initialMutationFilter={mutationFilter}
                clientConfig={clientConfig}
                referenceGenomeSequenceNames={referenceGenomeSequenceNames}
                client:only='react'
            />
        </div>
        {
            data.match(
                (data) => (
                    <div class='flex-1'>
                        <DownloadDialog
                            metadataFilter={metadataFilter}
                            mutationFilter={mutationFilter}
                            referenceGenomeSequenceNames={referenceGenomeSequenceNames}
                            lapisUrl={lapisUrl}
                            client:load
                        />
                        <div class='mt-4 mb-1'>
                            Search returned {data.totalCount.toLocaleString()}
                            sequence{data.totalCount === 1 ? '' : 's'}
                        </div>
                        <Table
                            organism={organism}
                            data={data.data}
                            schema={schema}
                            metadataFilter={metadataFilter}
                            mutationFilter={mutationFilter}
                            page={page}
                            orderBy={orderBy}
                            client:load
                        />

                        <div class='mt-4 flex justify-center'>
                            <Pagination client:only='react' count={Math.ceil(data.totalCount / pageSize)} />
                        </div>
                    </div>
                ),
                (error) => <ErrorBox title='Failed searching sequences' message={error.detail} />,
            )
        }
    </div>
</BaseLayout>
