---
import { BackButton } from '../../components/Navigation/BackButton';
import { AvatarBadge } from '../../components/UserProfile/AvatarBadge';
import { UserCitations } from '../../components/UserProfile/UserCitations';
import { getRuntimeConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';

// accession is never undefined, but ESLint doesn't know that
// eslint-disable-next-line
const username = Astro.params.username!;

const sequencesPage = `/user/${username}/sequences`;

const clientConfig = getRuntimeConfig().forClient;
---

<BaseLayout title={username}>
    <div class='flex flex-col justify-start'>
        <BackButton marginRight={0} client:load />
        <div class='flex flex-row items-left'>
            <div class='w-3/4 flex flex-col justify-start'>
                <div class='self-start my-4'>
                    <AvatarBadge username={username} client:only='react' />
                </div>
                <hr class='my-8' />
                <div>
                    <a class='my-4' href={sequencesPage}> Sequence Overview</a>
                </div>
            </div>
            <div class='w-1/4 flex flex-col justify-start'>
                <UserCitations username={username} clientConfig={clientConfig} client:only='react' />
            </div>
        </div>
    </div>
</BaseLayout>
