---
import { BackButton } from '../../components/Navigation/BackButton';
import BaseLayout from '../../layouts/BaseLayout.astro';

// accession is never undefined, but ESLint doesn't know that
// eslint-disable-next-line
const username = Astro.params.username!;

const sequencesPage = `/user/${username}/my-sequences`;
---

<BaseLayout title={username}>
    {
        // TODO: until we have a user model, only peter is our user
        username !== 'peter' ? (
            <div class='flex items-center'>
                <BackButton marginRight={2} client:load />
                <h1 class='subtitle'>No user found with name: {username}</h1>
            </div>
        ) : (
            <div class='flex items-center'>
                <div class='flex items-center'>
                    <BackButton marginRight={2} client:load />
                    <h1 class='title'>User {username}</h1>
                </div>
                <div>
                    <a href={sequencesPage} class='text-xs ml-10'>
                        my sequences
                    </a>
                </div>
            </div>
        )
    }
</BaseLayout>
