---
import { ListOfGroupsOfUser } from './ListOfGroupsOfUser.tsx';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { routes } from '../../routes/routes';
import { GroupManagementClient } from '../../services/groupManagementClient';
import { KeycloakClientManager } from '../../utils/KeycloakClientManager';
import { getAccessToken } from '../../utils/getAccessToken';
import { getUrlForKeycloakAccountPage } from '../../utils/getAuthUrl.ts';
import ErrorBox from '../common/ErrorBox.tsx';
import DashiconsGroups from '~icons/dashicons/groups';
import IconoirOpenNewWindow from '~icons/iconoir/open-new-window';
import MaterialSymbolsLightPersonOutline from '~icons/material-symbols-light/person-outline';

const session = Astro.locals.session!;
const user = session.user!; // page only accessible if user is logged in
const username = user.username!; // all users must have a username
const name = user.name;
const accessToken = getAccessToken(session)!;
const logoutUrl = new URL(Astro.request.url);
logoutUrl.pathname = routes.logout();
const keycloakClient = await KeycloakClientManager.getClient();
const keycloakLogoutUrl = keycloakClient!.endSessionUrl({
    post_logout_redirect_uri: logoutUrl.href, // eslint-disable-line @typescript-eslint/naming-convention
});
const accountPageUrl = await getUrlForKeycloakAccountPage();
const groupOfUsersResult = await GroupManagementClient.create().getGroupsOfUser(accessToken);
---

<BaseLayout title='My account' activeTopNavigationItem='account'>
    <div class='max-w-4xl mx-auto'>
        <div class='flex mt-4'>
            <div class='flex text-gray-500'>
                <MaterialSymbolsLightPersonOutline
                    className='-mt-2 -ml-2 mr-2'
                    style={{
                        width: '4.5rem',
                        height: '4.5rem',
                    }}
                />
            </div>
            <div>
                <h1 class='text-gray-900 text-xl font-semibold'>{name}</h1>
                <h2 class='text-gray-700 font-semibold'>
                    {username}
                </h2>
            </div>
        </div>
        <div class='my-2 flex gap-2'>
            <a
                href={keycloakLogoutUrl}
                class='bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded text-sm'>Logout</a
            >
            <a
                href={accountPageUrl}
                target='_blank'
                rel='noopener noreferrer'
                class='bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded text-sm flex items-center'
            >
                Edit account information
                <IconoirOpenNewWindow className='ml-1 w-4 h-4' />
            </a>
        </div>
        <div class='font-bold mt-12 text-lg mb-2 text-primary-700'>
            <DashiconsGroups className='w-6 h-6 inline-block mr-2' />My groups
        </div>
        {
            groupOfUsersResult.match(
                (groups) => <ListOfGroupsOfUser groupsOfUser={groups} client:load />,
                (error) => <ErrorBox title='Failed loading list of groups'>{error.detail}</ErrorBox>,
            )
        }
        <div class='mt-4'>
            <a
                href={routes.createGroup()}
                class='bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded text-sm'
                >Create a new submitting group</a
            >
        </div>
    </div>
</BaseLayout>
