---
import { getAuthor, getUserCitedBy, getDatasetsOfUser, parseAuthorData } from './datasets.ts';
import { AuthorDetails } from '../../components/DatasetCitations/AuthorDetails';
import { CitationPlot } from '../../components/DatasetCitations/CitationPlot';
import { DatasetList } from '../../components/DatasetCitations/DatasetList';
import { DatasetListActions } from '../../components/DatasetCitations/DatasetListActions';
import { ErrorFeedback } from '../../components/ErrorFeedback';
import { getRuntimeConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAccessToken } from '../../utils/getAccessToken';

const clientConfig = getRuntimeConfig().public;
const accessToken = getAccessToken(Astro.locals.session)!;
const username = Astro.locals.session.user!.username!;

const datasetsResponse = await getDatasetsOfUser(accessToken);
const userCitedByResponse = await getUserCitedBy(accessToken, username);
const authorResponse = await getAuthor(accessToken, username);

const session = Astro.locals.session;
---

<BaseLayout title='Datasets' data-testid='datasets-list-container'>
    <div class='flex flex-col justify-center items-center'>
        <div class='flex flex-row justify-center w-5/6 divide-x'>
            <div class='w-3/4 flex flex-col justify-start'>
                {
                    authorResponse.match(
                        (author) => {
                            const authorData = parseAuthorData(author, session.user);
                            return (
                                <AuthorDetails
                                    displayFullDetails
                                    clientConfig={clientConfig}
                                    accessToken={accessToken}
                                    fontSize={120}
                                    client:load
                                    {...authorData}
                                />
                            );
                        },
                        (error) => (
                            <ErrorFeedback
                                message={'Error while fetching author: ' + JSON.stringify(error)}
                                client:load
                            />
                        ),
                    )
                }

                <hr />
                <div class='flex justify-start'>
                    <div>
                        <div class='flex justify-start items-center py-5'>
                            <h1 class='text-2xl font-semibold'>Datasets</h1>
                            <DatasetListActions clientConfig={clientConfig} accessToken={accessToken} client:load />
                        </div>
                        <div>
                            {
                                datasetsResponse.match(
                                    (datasets) => <DatasetList datasets={datasets} username={username} client:load />,
                                    (error) => (
                                        <ErrorFeedback
                                            message={'Error while fetching datasets: ' + JSON.stringify(error)}
                                            client:load
                                        />
                                    ),
                                )
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class='w-1/4 flex flex-col justify-start items-start pl-4'>
                <span class='text-xl'>Cited By</span>
                {
                    userCitedByResponse.match(
                        (citedByData) => <CitationPlot citedByData={citedByData} client:load />,
                        (error) => (
                            <ErrorFeedback
                                message={'Error while fetching user sequences: ' + JSON.stringify(error)}
                                client:only='react'
                            />
                        ),
                    )
                }
            </div>
        </div>
    </div>
</BaseLayout>
