---
import { ErrorFeedback } from '../../components/ErrorFeedback';
import { AuthorDetails } from '../../components/SeqSetCitations/AuthorDetails';
import { SeqSetItem } from '../../components/SeqSetCitations/SeqSetItem';
import { SeqSetItemActions } from '../../components/SeqSetCitations/SeqSetItemActions';
import { getRuntimeConfig, seqSetsAreEnabled, getWebsiteConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SeqSetCitationClient } from '../../services/seqSetCitationClient.ts';
import type { SeqSet } from '../../types/seqSetCitation';
import { getAccessToken } from '../../utils/getAccessToken';

const clientConfig = getRuntimeConfig().public;
const websiteConfig = getWebsiteConfig();
const session = Astro.locals.session;
const accessToken = getAccessToken(session)!;
const seqSetId = Astro.params.seqSetId!;
const version = Astro.params.version!;
const username = session?.user?.username;

// Create organism key to display name mapping
const organismDisplayNames = Object.fromEntries(
    Object.entries(websiteConfig.organisms).map(([key, config]) => [key, config.schema.organismName]),
);

if (!seqSetsAreEnabled()) {
    return Astro.rewrite('/404');
}

const seqSetClient = SeqSetCitationClient.create();

const seqSetResponse = await seqSetClient.getSeqSet(seqSetId, version);

const seqSetRecordsResponse = await seqSetClient.getSeqSetRecords(seqSetId, version);

const seqSetCitedByResponse = await seqSetClient.getSeqSetCitedBy(seqSetId, version);

const getSeqSetByVersion = (seqSetVersions: SeqSet[], version: string) => {
    const matchedVersion = seqSetVersions.find((obj) => {
        return obj.seqSetVersion === parseInt(version, 10);
    });
    if (matchedVersion === undefined) {
        return seqSetVersions[seqSetVersions.length - 1];
    }
    return matchedVersion;
};

const seqSet = seqSetResponse.isOk() ? getSeqSetByVersion(seqSetResponse.value, version) : undefined;

const authorResponse = seqSet !== undefined ? await seqSetClient.getAuthor(seqSet.createdBy) : undefined;
---

<BaseLayout title='SeqSets' data-testid='seqSets-item-container' activeTopNavigationItem='seqsets'>
    <div class='flex flex-col justify-center max-w-7xl'>
        {
            seqSet !== undefined ? (
                <div class='flex flex-col md:flex-row items-left'>
                    <div class='w-full md:w-1/5 flex flex-col justify-start items-center'>
                        {authorResponse?.isOk() ? (
                            <AuthorDetails
                                displayFullDetails={false}
                                firstName={authorResponse.value.firstName}
                                lastName={authorResponse.value.lastName}
                            />
                        ) : (
                            <ErrorFeedback
                                message={
                                    'Error while fetching author profile: ' +
                                    JSON.stringify(authorResponse?.isErr() ? authorResponse.error : 'unknown')
                                }
                                client:load
                            />
                        )}
                    </div>
                    <div class='w-full md:w-4/5 md:pl-6 mt-6 md:mt-0'>
                        {seqSetRecordsResponse.isOk() ? (
                            <SeqSetItemActions
                                clientConfig={clientConfig}
                                accessToken={accessToken}
                                seqSet={{
                                    ...seqSet,
                                    createdBy: authorResponse?.isOk()
                                        ? [authorResponse.value?.firstName, authorResponse.value?.lastName]
                                              .filter((name) => name !== null)
                                              .join(' ')
                                        : seqSet.createdBy,
                                }}
                                seqSetRecords={seqSetRecordsResponse.value}
                                isAdminView={seqSet.createdBy === username}
                                databaseName={websiteConfig.name}
                                client:only='react'
                            />
                        ) : (
                            <ErrorFeedback
                                message={
                                    'Error while fetching seqSet records: ' +
                                    JSON.stringify(seqSetRecordsResponse.error)
                                }
                                client:only='react'
                            />
                        )}
                        {seqSetRecordsResponse.isOk() && seqSetCitedByResponse.isOk() ? (
                            <SeqSetItem
                                clientConfig={clientConfig}
                                accessToken={accessToken}
                                seqSet={seqSet}
                                seqSetRecords={seqSetRecordsResponse.value}
                                citedByData={seqSetCitedByResponse.value}
                                isAdminView={seqSet.createdBy === username}
                                fieldsToDisplay={websiteConfig.seqSetsFieldsToDisplay}
                                organismDisplayNames={organismDisplayNames}
                                client:load
                            />
                        ) : (
                            <ErrorFeedback
                                message={
                                    'Error while fetching seqSet citations: ' +
                                    JSON.stringify(
                                        seqSetRecordsResponse.isErr()
                                            ? seqSetRecordsResponse.error
                                            : seqSetCitedByResponse.isErr()
                                              ? seqSetCitedByResponse.error
                                              : 'unknown',
                                    )
                                }
                                client:only='react'
                            />
                        )}
                    </div>
                </div>
            ) : (
                <ErrorFeedback
                    message={
                        'Error while fetching seqSet: ' +
                        JSON.stringify(seqSetResponse.isErr() ? seqSetResponse.error : 'unknown')
                    }
                    client:only='react'
                />
            )
        }
    </div>
</BaseLayout>
