---
import { ErrorFeedback } from '../../components/ErrorFeedback';
import { AuthorDetails } from '../../components/SeqSetCitations/AuthorDetails';
import { CitationPlot } from '../../components/SeqSetCitations/CitationPlot';
import { SeqSetList } from '../../components/SeqSetCitations/SeqSetList';
import { SeqSetListActions } from '../../components/SeqSetCitations/SeqSetListActions';
import NeedToLogin from '../../components/common/NeedToLogin.astro';
import { getRuntimeConfig, seqSetsAreEnabled } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SeqSetCitationClient } from '../../services/seqSetCitationClient.ts';
import { getAccessToken } from '../../utils/getAccessToken';
import { getUrlForKeycloakAccountPage } from '../../utils/getAuthUrl.ts';

if (!seqSetsAreEnabled()) {
    return Astro.rewrite('/404');
}

const session = Astro.locals.session!;
const accessToken = getAccessToken(session)!;

const username = session.user?.username ?? '';
const clientConfig = getRuntimeConfig().public;
const seqSetClient = SeqSetCitationClient.create();

const seqSetsResponse = await seqSetClient.getSeqSetsOfUser(accessToken);
const authorResponse = await seqSetClient.getAuthor(username);
const editAccountUrl = (await getUrlForKeycloakAccountPage()) + '/#/personal-info';
---

<BaseLayout title='SeqSets' data-testid='seqSets-list-container' activeTopNavigationItem='seqsets'>
    <div class='flex flex-col justify-center items-center'>
        {
            !accessToken ? (
                <NeedToLogin message='You need to be logged in to create new SeqSets.' />
            ) : (
                <div class='flex flex-row justify-center w-5/6 divide-x max-w-7xl'>
                    <div class='w-3/4 flex flex-col justify-start'>
                        {authorResponse.match(
                            (authorProfile) => (
                                <AuthorDetails
                                    displayFullDetails
                                    firstName={authorProfile.firstName}
                                    lastName={authorProfile.lastName}
                                    emailDomain={authorProfile.emailDomain}
                                    university={authorProfile.university}
                                    editAccountUrl={editAccountUrl}
                                />
                            ),
                            (error) => (
                                <ErrorFeedback
                                    message={'Error while fetching author profile: ' + JSON.stringify(error)}
                                    client:load
                                />
                            ),
                        )}
                        <hr />
                        <div class='flex justify-start'>
                            <div class='w-11/12'>
                                <div class='flex justify-between items-center py-8'>
                                    <h1 class='text-2xl font-semibold'>SeqSets</h1>
                                    <SeqSetListActions
                                        clientConfig={clientConfig}
                                        accessToken={accessToken}
                                        client:load
                                    />
                                </div>
                                <div>
                                    <p>
                                        SeqSets are collections of sequences with a unique identifier that can be used
                                        to reference that set of sequences. SeqSets can also be used to generate DOIs,
                                        which can in turn be used in publications, public communications etc.
                                    </p>
                                    <p class='py-4'>
                                        You can learn how to generate SeqSets
                                        <a href='/docs/how-to/generate-seqset' class='text-primary-700  opacity-90'>
                                            here.
                                        </a>
                                    </p>
                                </div>
                                <div>
                                    {seqSetsResponse.match(
                                        (seqSets) => (
                                            <SeqSetList seqSets={seqSets} client:load />
                                        ),
                                        (error) => (
                                            <ErrorFeedback
                                                message={'Error while fetching seqSets: ' + JSON.stringify(error)}
                                                client:load
                                            />
                                        ),
                                    )}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='w-1/4 flex flex-col justify-start items-start pl-4'>
                        <span class='text-xl'>Cited by</span>
                        {/* We show an empty plot for now until we get real data. */}
                        <div>
                            <CitationPlot
                                citedByData={{ years: [2020, 2021, 2022, 2023, 2024], citations: [0, 0, 0, 0, 0] }}
                                client:load
                            />
                            <p class='text-sm text-center text-gray-500 my-4 ml-8 max-w-64'>
                                Number of times your sequences have been cited in publications
                            </p>
                        </div>
                    </div>
                </div>
            )
        }
    </div>
</BaseLayout>
