---
import { findOrganismAndData } from './findOrganismAndData';
import { SequenceDetailsTableResultType } from './getSequenceDetailsTableData';
import RevocationEntryDataTable from '../../../components/SequenceDetailsPage/RevocationEntryDataTable.astro';
import SequencesBanner from '../../../components/SequenceDetailsPage/SequencesBanner.astro';
import SequencesDataTableTitle from '../../../components/SequenceDetailsPage/SequencesDataTableTitle.astro';
import SequencesDataPage from '../../../components/SequenceDetailsPage/SequencesDetailsPage.astro';
import { isRevocationEntry } from '../../../components/SequenceDetailsPage/getTableData';
import ErrorBox from '../../../components/common/ErrorBox.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getInstanceLogger } from '../../../logger';

const accessionVersion = Astro.params.accessionVersion!;

const sequenceDetailsTableData = await findOrganismAndData(accessionVersion);

const logger = getInstanceLogger('/seq/[accessionVersion]');

logger.debug(`Request for ${accessionVersion}`);

if (
    sequenceDetailsTableData.isOk() &&
    sequenceDetailsTableData.value.result.type === SequenceDetailsTableResultType.REDIRECT
) {
    logger.debug(`Redirecting to ${sequenceDetailsTableData.value.result.redirectUrl}`);
    return Astro.redirect(sequenceDetailsTableData.value.result.redirectUrl);
}
---

<BaseLayout
    title={sequenceDetailsTableData.isOk() ? accessionVersion : 'Sequence not found'}
    implicitOrganism={sequenceDetailsTableData.isOk() ? sequenceDetailsTableData.value.organism : undefined}
>
    {
        sequenceDetailsTableData.isOk() &&
            sequenceDetailsTableData.value.result.type === SequenceDetailsTableResultType.TABLE_DATA && (
                <div slot='banner'>
                    <SequencesBanner
                        sequenceEntryHistory={sequenceDetailsTableData.value.result.sequenceEntryHistory}
                        accessionVersion={accessionVersion}
                    />
                </div>
            )
    }
    {
        sequenceDetailsTableData.match(
            ({ organism, result }) => (
                <>
                    <SequencesDataTableTitle
                        accessionVersion={accessionVersion}
                        organism={organism}
                        sequenceEntryHistory={
                            result.type === SequenceDetailsTableResultType.TABLE_DATA
                                ? result.sequenceEntryHistory
                                : undefined
                        }
                        showFastaDownload={
                            result.type === SequenceDetailsTableResultType.TABLE_DATA &&
                            !isRevocationEntry(result.tableData)
                        }
                    />
                    {result.type === SequenceDetailsTableResultType.TABLE_DATA &&
                        (isRevocationEntry(result.tableData) ? (
                            <RevocationEntryDataTable
                                tableData={result.tableData}
                                dataUseTermsHistory={result.dataUseTermsHistory}
                            />
                        ) : (
                            <SequencesDataPage
                                tableData={result.tableData}
                                organism={organism}
                                accessionVersion={accessionVersion}
                                dataUseTermsHistory={result.dataUseTermsHistory}
                            />
                        ))}
                </>
            ),
            () => (
                <ErrorBox title='Sequence entry not found'>
                    No data found for accession version {accessionVersion}
                </ErrorBox>
            ),
        )
    }
</BaseLayout>
