---
import { getVersionsData } from './getVersionsData';
import { VersionsWithDiff } from '../../../components/VersionDiff/VersionsWithDiff.tsx';
import ErrorBox from '../../../components/common/ErrorBox.tsx';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { parseAccessionVersionFromString } from '../../../utils/extractAccessionVersion';

const accessionVersion = Astro.params.accessionVersion!;
const { accession } = parseAccessionVersionFromString(accessionVersion);
const { organism, versionListResult } = await getVersionsData(accession);
---

<BaseLayout title={accession + ' versions'} implicitOrganism={organism}>
    <div class='flex flex-row pb-2'>
        <h1 class='title'>Versions for accession {accession}</h1>
    </div>

    {
        versionListResult.match(
            (list) => {
                return <VersionsWithDiff versions={list} accession={accession} client:load />;
            },
            (error) => {
                return <ErrorBox title='Request for sequence history failed'>{error}</ErrorBox>;
            },
        )
    }
</BaseLayout>
