---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { routes } from '../../../routes';
const { organism } = Astro.params;
---

<BaseLayout title='Submit'>
    <h1 class='title'>Submission portal for {organism}</h1>

    <div>
        <a href={routes.submitPage(organism)}>Make a new submission</a><br />
        <a href={routes.revisePage(organism)}>Make a revision</a>
        <br />
        <a href={routes.userSequenceReviewPage(organism)}>My unreleased sequences</a>
        <br />
        <a href={routes.mySequencesWithoutGroup(organism)}>My released sequences</a>
    </div>
</BaseLayout>

