---
import { DataUseTermsHistoryModal } from './DataUseTermsHistoryModal';
import { type TableDataEntry } from './getTableData';
import { type DataUseTermsHistoryEntry } from '../../types/backend';

interface Props {
    tableData: TableDataEntry[];
    dataUseTermsHistory: DataUseTermsHistoryEntry[];
}

const { tableData, dataUseTermsHistory } = Astro.props;
---

<div class='mt-2'>
    <table class='min-w-full'>
        <tbody class='bg-white'>
            {
                tableData.map(({ label, value, customDisplay }) => (
                    <tr>
                        <td class='py-1 whitespace-nowrap text-sm font-medium text-gray-900 text-right w-32'>
                            {label}
                        </td>
                        <td class='px-4 py-1 whitespace-normal text-sm text-gray-600'>
                            <div class='flex items-center gap-3'>
                                {customDisplay === undefined && value}
                                {customDisplay !== undefined &&
                                    customDisplay.type === 'link' &&
                                    customDisplay.url !== undefined && (
                                        <a
                                            href={customDisplay.url.replaceAll('{{value}}', value.toString())}
                                            target='_blank'
                                            class='underline'
                                        >
                                            {value}
                                        </a>
                                    )}
                                {customDisplay !== undefined && customDisplay.type === 'dataUseTerms' && (
                                    <>
                                        {value}{' '}
                                        <DataUseTermsHistoryModal
                                            dataUseTermsHistory={dataUseTermsHistory}
                                            client:only='react'
                                        />
                                    </>
                                )}
                            </div>
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>
