---
import DataTable from './DataTable.astro';
import { RevokeButton } from './RevokeButton';
import { SequencesContainer } from './SequencesContainer';
import { type TableDataEntry } from './getTableData';
import { getReferenceGenomes, getRuntimeConfig } from '../../config';
import { routes } from '../../routes/routes.ts';
import { GroupManagementClient } from '../../services/groupManagementClient';
import { type DataUseTermsHistoryEntry } from '../../types/backend';
import { type Group } from '../../types/backend.ts';
import { getAccessToken } from '../../utils/getAccessToken';
import ErrorBox from '../common/ErrorBox.astro';
import MdiEye from '~icons/mdi/eye';

interface Props {
    tableData: TableDataEntry[];
    organism: string;
    accessionVersion: string;
    dataUseTermsHistory: DataUseTermsHistoryEntry[];
}

const { tableData, organism, accessionVersion, dataUseTermsHistory } = Astro.props;
const group = tableData.find((entry) => entry.name === 'group')?.value;
const isRestricted = tableData.find((entry) => entry.name === 'dataUseTerms')?.value === 'RESTRICTED';

const runtimeConfig = getRuntimeConfig();

const referenceGenomes = getReferenceGenomes(organism);

const genes = referenceGenomes.genes.map((g) => g.name);
const nucleotideSegmentNames = referenceGenomes.nucleotideSequences.map((s) => s.name) as [string, ...string[]];

const clientConfig = getRuntimeConfig().public;
const session = Astro.locals.session;
const accessToken = getAccessToken(session);

const groupsResult =
    accessToken !== undefined ? await GroupManagementClient.create().getGroupsOfUser(accessToken) : undefined;

const isMyGroup =
    accessToken !== undefined &&
    groupsResult !== undefined &&
    groupsResult.isOk() &&
    groupsResult.value.some((myGroupItem: Group) => myGroupItem.groupName === group);
---

{
    isRestricted && (
        <ErrorBox title='Restricted sequence' level='warning'>
            This sequence is only available under the Restricted Use Terms. If you make use of this data, you must
            follow the{' '}
            <a href={routes.datauseTermsPage()} class='underline'>
                terms of use.
            </a>
        </ErrorBox>
    )
}
<DataTable tableData={tableData} dataUseTermsHistory={dataUseTermsHistory} />
<div>
    <a
        class='mt-4 inline-block text-blue-600 hover:text-blue-800'
        href={routes.sequencesFastaPage(accessionVersion) + '?download'}
    >
        Download FASTA
    </a>
</div>
<div class='mt-10'>
    <SequencesContainer
        client:load
        organism={organism}
        accessionVersion={accessionVersion}
        clientConfig={runtimeConfig.public}
        genes={genes}
        nucleotideSegmentNames={nucleotideSegmentNames}
    />
</div>

{
    isMyGroup && (
        <div class='mt-5'>
            <hr />
            <h2 class='text-xl font-bold mt-10 mb-3'>Sequence Management</h2>
            <div class='text-sm text-gray-400 mb-4 block'>
                <MdiEye className='w-6 h-6 inline-block mr-2' />
                Only visible to group members
            </div>

            <RevokeButton
                organism={organism}
                clientConfig={clientConfig}
                accessionVersion={accessionVersion.split('.')[0]}
                accessToken={accessToken}
                client:load
            />
        </div>
    )
}
