---
import DataTable from './DataTable.astro';
import { RevokeButton } from './RevokeButton';
import { SequencesContainer } from './SequencesContainer';
import { type TableDataEntry } from './getTableData';
import { getReferenceGenomes, getRuntimeConfig } from '../../config';
import { routes } from '../../routes.ts';
import { GroupManagementClient } from '../../services/groupManagementClient';
import { type DataUseTermsHistoryEntry } from '../../types/backend';
import { type Group } from '../../types/backend.ts';
import { getAccessToken } from '../../utils/getAccessToken';

interface Props {
    tableData: TableDataEntry[];
    organism: string;
    accessionVersion: string;
    dataUseTermsHistory: DataUseTermsHistoryEntry[];
}

const { tableData, organism, accessionVersion, dataUseTermsHistory } = Astro.props;
const group = tableData.find((entry) => entry.name === 'group')?.value;

const runtimeConfig = getRuntimeConfig();

const referenceGenomes = getReferenceGenomes(organism);

const genes = referenceGenomes.genes.map((g) => g.name);
const nucleotideSegmentNames = referenceGenomes.nucleotideSequences.map((s) => s.name) as [string, ...string[]];

const clientConfig = getRuntimeConfig().public;
const session = Astro.locals.session;
const accessToken = getAccessToken(session);

const groupsResult =
    accessToken !== undefined ? await GroupManagementClient.create().getGroupsOfUser(accessToken) : undefined;

const isMyGroup =
    accessToken !== undefined &&
    groupsResult !== undefined &&
    groupsResult.isOk() &&
    groupsResult.value.some((myGroupItem: Group) => myGroupItem.groupName === group);
---

<DataTable tableData={tableData} dataUseTermsHistory={dataUseTermsHistory} />
<div>
    <a
        class='mt-4 inline-block text-blue-600 hover:text-blue-800'
        href={routes.sequencesFastaPage(organism, accessionVersion) + '?download'}
    >
        Download FASTA
    </a>
</div>
<div class='mt-10'>
    <SequencesContainer
        client:load
        organism={organism}
        accessionVersion={accessionVersion}
        clientConfig={runtimeConfig.public}
        genes={genes}
        nucleotideSegmentNames={nucleotideSegmentNames}
    />
</div>

{
    isMyGroup && (
        <RevokeButton
            organism={organism}
            clientConfig={clientConfig}
            accessionVersion={accessionVersion.split('.')[0]}
            accessToken={accessToken}
            client:load
        />
    )
}
