---
import { authenticationApiDocsUrl } from './authenticationApiDocsUrl';
import { getRuntimeConfig, getWebsiteConfig } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { routes } from '../../routes/routes.ts';
import { getAuthBaseUrl } from '../../utils/getAuthUrl';

const clientConfig = getRuntimeConfig().public;
const keycloakUrl = getAuthBaseUrl();

const websiteConfig = getWebsiteConfig();

const organismKeys = Object.keys(websiteConfig.organisms);

const organismToDisplayName = Object.fromEntries(
    organismKeys.map((organism) => {
        return [organism, websiteConfig.organisms[organism].schema.organismName];
    }),
);

const BUTTON_CLASS =
    'inline-block px-6 py-3 bg-primary-400 text-white font-semibold rounded-lg shadow-md hover:bg-primary-500  mr-2 hover:no-underline';
---

<BaseLayout title='API Documentation'>
    <div class='container mx-auto p-8'>
        <h1 class='title'>API Documentation</h1>

        <div class='mb-10'>
            <p class='mt-4 mb-4'>
                There is a
                <a
                    href='https://swagger.io/tools/swagger-ui/'
                    class='underline text-primary-900 hover:text-primary-800 hover:no-underline'
                >
                    Swagger UI
                </a>
                for documentation and direct interaction with the APIs. For more tips on how to use the API, it is recommended
                to start with the
                <a
                    href={authenticationApiDocsUrl}
                    class='underline text-primary-900 hover:text-primary-800 hover:no-underline'
                >
                    API Authentication documentation.
                </a>
            </p>
            <p class='mt-4 mb-4'>
                WARNING: Swagger incorrectly displays NDJSON examples in JSON format. For endpoints that require NDJSON
                as input you must convert the JSON examples to NDJSON (e.g. by removing new lines) prior to testing.
            </p>
            <p class='mt-4 mb-4'>
                By using our API you agree to our
                <a
                    href={routes.datauseTermsPage()}
                    class='underline text-primary-900 hover:text-primary-800 hover:no-underline'
                >
                    Data Use Terms
                </a>.
            </p>
        </div>

        <div class='mb-10'>
            <h2 class='text-xl font-semibold text-primary-400 mb-4'>Backend Server</h2>
            <div class='mb-4'>
                Please note that Loculus is under continuous development and the endpoints are subject to change.
            </div>
            <a class={BUTTON_CLASS} href={clientConfig.backendUrl + '/swagger-ui/index.html'}>
                View Backend API Documentation
            </a>
            <div class='mt-8'>
                <span class='font-medium'>URL of Backend Server:</span>
                <code>{clientConfig.backendUrl}</code>
            </div>
        </div>

        <div class='mb-10'>
            <h2 class='text-xl font-semibold text-primary-400 mb-4'>LAPIS Query Engines</h2>
            <div class='space-y-4'>
                {
                    Object.entries(clientConfig.lapisUrls).map(([organism, url]) => (
                        <a class={BUTTON_CLASS} href={url + '/swagger-ui/index.html'}>
                            {organismToDisplayName[organism]} LAPIS API Documentation
                        </a>
                    ))
                }
            </div>
            <div class='mt-8'>
                <span class='font-medium'>URLs of LAPIS Query Engines:</span>
                <ul class='list-disc ml-6'>
                    {
                        Object.entries(clientConfig.lapisUrls).map(([organism, url]) => (
                            <li>
                                {organismToDisplayName[organism]}: <code>{url}</code>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>

        <div>
            <h2 class='text-xl font-semibold text-primary-400 mb-4'>Keycloak Server</h2>
            <div>
                We use the open source software <a href='https://www.keycloak.org/'>Keycloak</a> for authentication.
            </div>
            <div class='mt-2'>
                <span class='font-medium'>URL of Keycloak Server:</span>
                <code>{keycloakUrl}</code>
            </div>
        </div>
    </div>
</BaseLayout>
