---
import { readFile } from 'node:fs/promises';
import { type JSONSchema7, type JSONSchema7Definition } from 'json-schema';

const { schemaPath, group } = Astro.props;
let schema: JSONSchema7 = {};

try {
    const data = await readFile(schemaPath, 'utf-8');
    schema = JSON.parse(data);
} catch (error) {
    console.error('Error reading schema:', error);
}

const groupProps: [string, JSONSchema7][] = [];

if (schema.properties) {
    Object.entries(schema.properties).forEach(([key, definition]) => {
        console.log(key)
        if (
            typeof definition === 'object' &&
            definition !== null &&
            'group' in definition &&
            definition.group === group
        ) {
            console.log("FOOO")
            groupProps.push([key, definition]);
        }
    });
}
---

<div>
    <h2>{group} Schema Properties</h2>
    <ul>
        {
            groupProps.map(([key, def]) => (
                <li>
                    {key} - {def.type} - {def.default} - {def.description}
                </li>
            ))
        }
    </ul>
</div>
