---
import { EditPage } from '../../../../../components/Edit/EditPage';
import { cleanOrganism } from '../../../../../components/Navigation/cleanOrganism';
import {
    getGroupedInputFields,
    getReferenceGenomeLightweightSchema,
    getRuntimeConfig,
    getSchema,
} from '../../../../../config';
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import { createBackendClient } from '../../../../../services/backendClientFactory';
import { getAccessToken } from '../../../../../utils/getAccessToken';

const version = Astro.params.version!;
const accession = Astro.params.accession!;

const organism = Astro.params.organism!;
const { organism: cleanedOrganism } = cleanOrganism(Astro.params.organism);

if (!cleanedOrganism) {
    return {
        statusCode: 404,
        body: 'Organism not found',
    };
}

const groupedInputFields = getGroupedInputFields(cleanedOrganism.key, 'revise', true);
const accessToken = getAccessToken(Astro.locals.session)!;

const clientConfig = getRuntimeConfig().public;
const schema = getSchema(organism);
const referenceGenomeLightweightSchema = getReferenceGenomeLightweightSchema(organism);

const dataToEdit = await createBackendClient().getDataToEdit(organism, accessToken, accession, version);
---

<BaseLayout title={`Edit ${accession}.${version}`} fullWidth>
    {
        dataToEdit.match(
            (dataToEdit) => (
                <EditPage
                    organism={organism}
                    accessToken={accessToken}
                    dataToEdit={dataToEdit}
                    referenceGenomeLightweightSchema={referenceGenomeLightweightSchema}
                    clientConfig={clientConfig}
                    groupedInputFields={groupedInputFields}
                    submissionDataTypes={schema.submissionDataTypes}
                    client:load
                />
            ),
            (error) => (
                <>
                    <div class='flex items-center'>
                        <h1 class='subtitle'>
                            Error while fetching edited data for accession version: {accession}.{version}
                        </h1>
                    </div>
                    <div>{JSON.stringify(error)}</div>
                </>
            ),
        )
    }
</BaseLayout>
