---
import { EditPage } from '../../../../../components/Edit/EditPage';
import { getRuntimeConfig, getSchema } from '../../../../../config';
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import { BackendClient } from '../../../../../services/backendClient';
import { getAccessToken } from '../../../../../utils/getAccessToken';

const version = Astro.params.version!;
const accession = Astro.params.accession!;

const organism = Astro.params.organism!;
const { inputFields } = getSchema(organism);
const accessToken = getAccessToken(Astro.locals.session)!;

const clientConfig = getRuntimeConfig().public;

const dataToEdit = await BackendClient.create().getDataToEdit(organism, accessToken, accession, version);
---

<BaseLayout title={`Edit ${accession}.${version}`}>
    <div class='flex items-center mb-4'>
        <h1 class='title'>
            Edit {accession}.{version}
        </h1>
    </div>
    {
        dataToEdit.match(
            (dataToEdit) => (
                <EditPage
                    organism={organism}
                    accessToken={accessToken}
                    dataToEdit={dataToEdit}
                    clientConfig={clientConfig}
                    inputFields={inputFields}
                    client:load
                />
            ),
            (error) => (
                <>
                    <div class='flex items-center'>
                        <h1 class='subtitle'>
                            Error while fetching edited data for accession version: {accession}.{version}
                        </h1>
                    </div>
                    <div>{JSON.stringify(error)}</div>
                </>
            ),
        )
    }
</BaseLayout>
