---
import { getTableData } from './getTableData';
import { BackButton } from '../../components/Navigation/BackButton';
import { SequencesContainer } from '../../components/SequenceDetailsPage/SequencesContainer';
import { getConfig, getReferenceGenomes } from '../../config';
import BaseLayout from '../../layouts/BaseLayout.astro';

const config = getConfig();
// accession is never undefined, but ESLint doesn't know that
// eslint-disable-next-line
const accession = Astro.params.accession!;

const tableData = await getTableData(accession, config);

const genes = getReferenceGenomes().genes.map((g) => g.name);
const versionPage = `/sequences/${accession}/versions`;
---

<BaseLayout title={accession}>
    {
        tableData === undefined ? (
            <>
                <div class='flex items-center'>
                    <BackButton marginRight={2} client:load />
                    <h1 class='subtitle'>No sequence found with accession: {accession}</h1>
                </div>
            </>
        ) : (
            <>
                <div class='flex items-center'>
                    <BackButton marginRight={2} client:load />
                    <h1 class='title'>Sequence {accession}</h1>
                    <a href={versionPage} class='text-xs ml-10'>
                        (See previous versions)
                    </a>
                </div>
                <div class='mt-10'>
                    <table class='table-auto'>
                        <tbody>
                            {tableData.map(({ label, value }) => (
                                <tr>
                                    <td class='font-semibold pr-4 align-top'>{label}:</td>
                                    <td class='break-normal'>{value}</td>
                                </tr>
                            ))}
                        </tbody>
                    </table>
                </div>
                <div class='mt-10'>
                    <SequencesContainer client:load accession={accession} config={config} genes={genes} />
                </div>
            </>
        )
    }
</BaseLayout>
