---
import { cleanOrganism } from '../../../components/Navigation/cleanOrganism';
import { DownloadDialog } from '../../../components/SearchPage/DownloadDialog/DownloadDialog';
import { SearchForm } from '../../../components/SearchPage/SearchForm';
import { SearchPagination } from '../../../components/SearchPage/SearchPagination';
import { Table } from '../../../components/SearchPage/Table';
import ErrorBox from '../../../components/common/ErrorBox.astro';
import { getLapisUrl, getRuntimeConfig, getSchema } from '../../../config';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { routes, MY_SEQUENCES } from '../../../routes';
import { hiddenDefaultSearchFilters, pageSize, GROUP_FIELD } from '../../../settings';
import { getAccessToken } from '../../../utils/getAccessToken';
import {
    getData,
    getReferenceGenomesSequenceNames,
    getMetadataFilters,
    getMutationFilter,
    getOrderBy,
    addHiddenFilters,
} from '../../../utils/search';

const organism = Astro.params.organism!;
const group = Astro.params.group!;
const { organism: cleanedOrganism } = cleanOrganism(organism);
const schema = getSchema(organism);
const clientConfig = getRuntimeConfig().public;
const lapisUrl = getLapisUrl(clientConfig, organism);
let postParams = new URLSearchParams();

if (Astro.request.method === 'POST') {
    const formData = await Astro.request.text();
    const params = new URLSearchParams(formData);
    const decoded = Object.fromEntries(params);
    const paramsString = decoded.searchQuery;
    postParams = new URLSearchParams(paramsString);
}

const getSearchParams = (field: string): string => {
    let value = Astro.url.searchParams.get(field);
    if (value === null && postParams.get(field) !== null) {
        value = postParams.get(field);
    }
    return value ?? '';
};

const hiddenDefaultSearchFiltersWithGroup = [
    ...hiddenDefaultSearchFilters,

    { name: GROUP_FIELD, filterValue: group, type: 'string' as const, notSearchable: true },
];

const metadataFilter = addHiddenFilters(
    getMetadataFilters(getSearchParams, organism, true),
    hiddenDefaultSearchFiltersWithGroup,
);
const mutationFilter = getMutationFilter(Astro.url.searchParams);

const pageParam = getSearchParams('page');
const page = pageParam !== '' ? Number.parseInt(pageParam, 10) : 1;
const offset = (page - 1) * pageSize;
const orderBy = getOrderBy(getSearchParams, schema.defaultOrderBy, schema.defaultOrder);

const referenceGenomesSequenceNames = getReferenceGenomesSequenceNames(organism);

const data = await getData(organism, metadataFilter, mutationFilter, offset, pageSize, orderBy);

const accessToken = getAccessToken(Astro.locals.session)!;
const groups = await fetch(`${clientConfig.backendUrl}/user/groups`, {
    headers: {
        Authorization: `Bearer ${accessToken}`,
    },
}).then((response) => response.json());

const groupNames = groups.map((group) => group.groupName);
const groupExists = groupNames.includes(group);
if (groupExists === false) {
    return new Response(undefined, {
        status: 404,
    });
}
---

<BaseLayout title={`${cleanedOrganism!.displayName} - My sequences`}>
    <h1 class='title'>Viewing sequences for group {group}</h1>
    {
        groups.length > 1 && (
            <>
                {' '}
                Choose group:
                <select
                    class='mt-4 select select-bordered'
                    onchange={(event) => {
                        const newGroup = event.target.value;
                        window.location.href = routes.mySequencesPage(organism, newGroup);
                    }}
                >
                    {groupNames.map((groupName) => (
                        <option selected={groupName === group} value={groupName}>
                            {groupName}
                        </option>
                    ))}
                </select>
            </>
        )
    }

    <div class='flex flex-col md:flex-row gap-8 md:gap-4'>
        <div class='md:w-72'>
            <SearchForm
                organism={organism}
                filters={metadataFilter}
                initialMutationFilter={mutationFilter}
                clientConfig={clientConfig}
                referenceGenomesSequenceNames={referenceGenomesSequenceNames}
                classOfSearchPage={MY_SEQUENCES}
                group={group}
                client:only='react'
            />
        </div>
        {
            data.match(
                (data) => (
                    <div class='flex-1'>
                        <DownloadDialog
                            metadataFilter={metadataFilter}
                            mutationFilter={mutationFilter}
                            referenceGenomesSequenceNames={referenceGenomesSequenceNames}
                            lapisUrl={lapisUrl}
                            client:load
                        />
                        <div class='mt-4 mb-1'>
                            Search returned {data.totalCount.toLocaleString()}
                            sequence{data.totalCount === 1 ? '' : 's'}
                        </div>
                        <Table
                            organism={organism}
                            data={data.data}
                            schema={schema}
                            metadataFilter={metadataFilter}
                            mutationFilter={mutationFilter}
                            page={page}
                            orderBy={orderBy}
                            classOfSearchPage={MY_SEQUENCES}
                            group={group}
                            client:load
                        />

                        <div class='mt-4 flex justify-center'>
                            <SearchPagination
                                client:only='react'
                                count={Math.ceil(data.totalCount / pageSize)}
                                page={page}
                                metadataFilter={metadataFilter}
                                mutationFilter={mutationFilter}
                                orderBy={orderBy}
                                organism={organism}
                                classOfSearchPage={MY_SEQUENCES}
                                group={group}
                            />
                        </div>
                    </div>
                ),
                (error) => <ErrorBox title='Failed searching sequences' message={error.detail} />,
            )
        }
    </div>
</BaseLayout>
