---
import type { OrganismStatistics } from './getOrganismStatistics';
import { routes } from '../../routes/routes';
import { formatNumberWithDefaultLocale } from '../../utils/formatNumber';

interface Props {
    key: string;
    image: string | undefined;
    displayName: string;
    organismStatistics: OrganismStatistics;
    numberDaysAgoStatistics: number;
}

const { key, image, displayName, organismStatistics, numberDaysAgoStatistics } = Astro.props;

---

<a
    href={routes.organismStartPage(key)}
    class='block rounded border border-gray-300 p-4 m-2 w-64 text-center hover:bg-gray-100 mx-auto sm:mx-2'
>
    {image !== undefined && <img src={image} class='h-32 mx-auto mb-4' alt={displayName} />}
    <h3 class='font-semibold'>{displayName}</h3>
    <p class='text-sm'>
        {formatNumberWithDefaultLocale(organismStatistics.totalSequences)} sequences<br />
        (+{formatNumberWithDefaultLocale(organismStatistics.recentSequences)} in last {numberDaysAgoStatistics} days)<br />
        <span class='hidden'
            >{
                organismStatistics.lastUpdatedAt && <>Last updated {organismStatistics.lastUpdatedAt.toRelative()}</>
            }</span
        >
    </p>
</a>
