---
import type { OrganismStatistics } from './getOrganismStatistics';
import { routes } from '../../routes/routes';

interface Props {
    key: string;
    image: string | undefined;
    displayName: string;
    organismStatistics: OrganismStatistics;
    numberDaysAgoStatistics: number;
}

const { key, image, displayName, organismStatistics, numberDaysAgoStatistics } = Astro.props;

const formatNumber = (num: number) => new Intl.NumberFormat('en-US').format(num);
---

<a
    href={routes.organismStartPage(key)}
    class='block rounded border border-gray-300 p-4 m-2 w-64 text-center hover:bg-gray-100 mx-auto sm:mx-2'
>
    {image !== undefined && <img src={image} class='h-32 mx-auto mb-4' alt={displayName} />}
    <h3 class='font-semibold'>{displayName}</h3>
    <p class='text-sm'>
        {formatNumber(organismStatistics.totalSequences)} sequences<br />
        (+{formatNumber(organismStatistics.recentSequences)} in last {numberDaysAgoStatistics} days)<br />
        {organismStatistics.lastUpdatedAt && <>Last updated {organismStatistics.lastUpdatedAt.toRelative()}</>}
    </p>
</a>
