---
import { SequenceStatusBox } from './SequenceStatusBox';
import { SequenceTable } from './SequenceTable';
import { getRuntimeConfig } from '../../config';
import type { SequenceStatus } from '../../types/backend';

interface Props {
    sequences: SequenceStatus[];
    username: string;
}

const { sequences, username } = Astro.props;
const clientConfig = getRuntimeConfig().forClient;

const statusArray = sequences.reduce(
    (acc, item) => {
        acc[item.status].push(item);
        return acc;
    },
    {
        RECEIVED: [] as SequenceStatus[],
        IN_PROCESSING: [] as SequenceStatus[],
        HAS_ERRORS: [] as SequenceStatus[],
        AWAITING_APPROVAL: [] as SequenceStatus[],
        APPROVED_FOR_RELEASE: [] as SequenceStatus[],
        AWAITING_APPROVAL_FOR_REVOCATION: [] as SequenceStatus[],
    },
);

const keyPrefix = `userSequences.${username}`;
---

<div class='flex flex-col gap-2 mt-5'>
    <SequenceStatusBox
        count={statusArray.RECEIVED.length}
        description='received'
        localStorageKey={`${keyPrefix}.receivedExpanded`}
        client:only='react'
    >
        <SequenceTable
            username={username}
            sequences={statusArray.RECEIVED}
            bulkActionNames={['delete']}
            singleActionNames={[]}
            clientConfig={clientConfig}
            client:load
        />
    </SequenceStatusBox>

    <SequenceStatusBox
        count={statusArray.IN_PROCESSING.length}
        description='in processing'
        localStorageKey={`${keyPrefix}.processingExpanded`}
        client:only='react'
    >
        <SequenceTable
            username={username}
            sequences={statusArray.IN_PROCESSING}
            bulkActionNames={[]}
            singleActionNames={[]}
            clientConfig={clientConfig}
            client:load
        />
    </SequenceStatusBox>

    <SequenceStatusBox
        count={statusArray.HAS_ERRORS.length}
        description={`need${statusArray.HAS_ERRORS.length === 1 ? 's' : ''} review`}
        localStorageKey={`${keyPrefix}.needsReviewExpanded`}
        client:only='react'
    >
        <SequenceTable
            username={username}
            sequences={statusArray.HAS_ERRORS}
            bulkActionNames={['delete']}
            singleActionNames={['review']}
            clientConfig={clientConfig}
            client:load
        />
    </SequenceStatusBox>

    <SequenceStatusBox
        count={statusArray.AWAITING_APPROVAL.length}
        description='processed'
        localStorageKey={`${keyPrefix}.stagingExpanded`}
        client:only='react'
    >
        <SequenceTable
            username={username}
            sequences={statusArray.AWAITING_APPROVAL}
            bulkActionNames={['approve', 'delete']}
            singleActionNames={['review']}
            clientConfig={clientConfig}
            client:load
        />
    </SequenceStatusBox>

    <SequenceStatusBox
        count={statusArray.APPROVED_FOR_RELEASE.length}
        description='ready for SILO import'
        localStorageKey={`${keyPrefix}.readyExpanded`}
        client:only='react'
    >
        <SequenceTable
            username={username}
            sequences={statusArray.APPROVED_FOR_RELEASE}
            bulkActionNames={['revoke']}
            singleActionNames={[]}
            clientConfig={clientConfig}
            client:load
        />
    </SequenceStatusBox>

    <SequenceStatusBox
        count={statusArray.AWAITING_APPROVAL_FOR_REVOCATION.length}
        description='staged for revocation'
        localStorageKey={`${keyPrefix}.revokedExpanded`}
        client:only='react'
    >
        <SequenceTable
            username={username}
            sequences={statusArray.AWAITING_APPROVAL_FOR_REVOCATION}
            bulkActionNames={['confirmRevocation', 'delete']}
            singleActionNames={[]}
            clientConfig={clientConfig}
            client:load
        />
    </SequenceStatusBox>
</div>
