---
import { SubmissionGroupSelector } from './SubmissionGroupSelector';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getWebsiteConfig } from '../../config';
import { getRemoteSubmissionBannerMessage } from '../../services/bannerMessageService';
import { type GetGroupsAndCurrentGroupResult } from '../../utils/submissionPages';
import NeedToLogin from '../common/NeedToLogin.astro';
import { Banner } from '../common/Banner';

interface Props {
    title: string;
    disablePageTitle?: boolean;
    groupsResult: GetGroupsAndCurrentGroupResult;
}

const { title, disablePageTitle = false, groupsResult } = Astro.props;
const { pathname, search } = Astro.url;

const { submissionBannerMessage: configSubmissionBannerMessage } = getWebsiteConfig();
const remoteSubmissionBannerMessage = await getRemoteSubmissionBannerMessage();
const submissionBannerMessage = remoteSubmissionBannerMessage ?? configSubmissionBannerMessage;
const lastTimeSubmissionBannerWasClosed = Astro.cookies.get('lastTimeSubmissionBannerWasClosed')?.value;
---

<BaseLayout title={title} fullWidth>
    {
        groupsResult.match(
            ({ currentGroup: group, groupsOfUser }) => (
                <>
                    <Banner
                        message={submissionBannerMessage}
                        lastTimeBannerWasClosed={
                            lastTimeSubmissionBannerWasClosed !== undefined
                                ? parseInt(lastTimeSubmissionBannerWasClosed, 10)
                                : undefined
                        }
                        serverTime={Date.now()}
                        cookieName='lastTimeSubmissionBannerWasClosed'
                        client:load
                    />
                    <SubmissionGroupSelector
                        groups={groupsOfUser}
                        selectedGroupId={group.groupId}
                        pathname={pathname}
                        search={search}
                        client:load
                    />
                    {!disablePageTitle && <h1 class='title'>{title}</h1>}
                    <slot />
                </>
            ),
            ({ type }) => {
                switch (type) {
                    case 'not_logged_in':
                        return <NeedToLogin message='You need to be logged in to submit sequences.' />;
                    case 'group_not_found':
                        return <p class='text-red-500'>Group not found</p>;
                    default:
                        return <p class='text-red-500'>Unexpected error: Failed to load groups</p>;
                }
            },
        )
    }
</BaseLayout>
